<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<dict>
		<key>name</key>
		<string>Andorra</string>
	</dict>
	<key>AL</key>
	<dict>
		<key>name</key>
		<string>Albania</string>
	</dict>
	<key>AT</key>
	<dict>
		<key>name</key>
		<string>Austria</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>name</key>
		<string>Belgium</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>name</key>
		<string>Bulgaria</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>name</key>
		<string>Switzerland</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>name</key>
		<string>Czech Republic</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>name</key>
		<string>Cyprus</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>name</key>
		<string>Germany</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>name</key>
		<string>Denmark</string>
	</dict>
	<key>EE</key>
	<dict>
		<key>name</key>
		<string>Estonia</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>name</key>
		<string>Spain</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>name</key>
		<string>Finland</string>
	</dict>
	<key>FO</key>
	<dict>
		<key>name</key>
		<string>Faroe Islands</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>name</key>
		<string>France</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>name</key>
		<string>Great Britain</string>
	</dict>
	<key>GE</key>
	<dict>
		<key>name</key>
		<string>Georgia</string>
	</dict>
	<key>GI</key>
	<dict>
		<key>name</key>
		<string>Gibraltar</string>
	</dict>
	<key>GL</key>
	<dict>
		<key>name</key>
		<string>Greenland</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>name</key>
		<string>Greece</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>name</key>
		<string>Croatia</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>name</key>
		<string>Hungary</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>name</key>
		<string>Ireland</string>
	</dict>
	<key>IL</key>
	<dict>
		<key>name</key>
		<string>Israel</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>name</key>
		<string>Iceland</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>name</key>
		<string>Italy</string>
	</dict>
	<key>KW</key>
	<dict>
		<key>name</key>
		<string>Kuwait</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>name</key>
		<string>Kazakhstan</string>
	</dict>
	<key>LB</key>
	<dict>
		<key>name</key>
		<string>Lebanon</string>
	</dict>
	<key>LI</key>
	<dict>
		<key>name</key>
		<string>Liechtenstein</string>
	</dict>
	<key>LT</key>
	<dict>
		<key>name</key>
		<string>Lithuania</string>
	</dict>
	<key>LU</key>
	<dict>
		<key>name</key>
		<string>Luxembourg</string>
	</dict>
	<key>LV</key>
	<dict>
		<key>name</key>
		<string>Latvia</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>name</key>
		<string>Monaco</string>
	</dict>
	<key>ME</key>
	<dict>
		<key>name</key>
		<string>Montenegro</string>
	</dict>
	<key>MK</key>
	<dict>
		<key>name</key>
		<string>Macedonia</string>
	</dict>
	<key>MR</key>
	<dict>
		<key>name</key>
		<string>Mauretania</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>name</key>
		<string>Malta</string>
	</dict>
	<key>MU</key>
	<dict>
		<key>name</key>
		<string>Mauritius</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>name</key>
		<string>Netherlands</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>name</key>
		<string>Norway</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>name</key>
		<string>Poland</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>name</key>
		<string>Portugal</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>name</key>
		<string>Romania</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>name</key>
		<string>Serbia</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>name</key>
		<string>Saudi Arabia</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>name</key>
		<string>Sweden</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>name</key>
		<string>Slovenia</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>name</key>
		<string>Slovak Republic</string>
	</dict>
	<key>SM</key>
	<dict>
		<key>name</key>
		<string>San Marino</string>
	</dict>
	<key>TN</key>
	<dict>
		<key>name</key>
		<string>Tunesia</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>name</key>
		<string>Turkey</string>
	</dict>
</dict>
</plist>
